name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  
env:
  S3_BUCKET_NAME: weareone-bucket

jobs:
  build:

    runs-on: ubuntu-latest
  

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set application.properties
      run: touch ./src/main/resources/application-API-KEY.properties
      working-directory: ./demo
      
    - name: bring application.properties
      run: echo "${{ secrets.PROPERTIES }}" > ./src/main/resources/application-API-KEY.properties
      working-directory: ./demo
      
    - name: check application.properties
      run: cat ./src/main/resources/application-API-KEY.properties
      working-directory: ./demo

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: ./demo

    - name: init with Gradle
      uses: gradle/gradle-build-action@v2
    - run: gradle init
  
    - name: Build with Gradle
      run: ./gradlew build #-x test 테스트스킵
      working-directory: ./demo

    # - name: Build with Gradle
    #   uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
    #   with:
    #     arguments: build
    #     gradle-version: 8.2.1
    
    # build한 후 프로젝트를 압축합니다.
    - name: Make zip file
      run: zip -r ./practice-deploy.zip ./demo
      shell: bash
    
    # Access Key와 Secret Access Key를 통해 권한을 확인합니다.
    # 아래 코드에 Access Key와 Secret Key를 직접 작성하지 않습니다.
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }} # 등록한 Github Secret이 자동으로 불려옵니다.
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} # 등록한 Github Secret이 자동으로 불려옵니다.
        aws-region: ap-northeast-2
    
    # 압축한 프로젝트를 S3로 전송합니다.
    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./practice-deploy.zip s3://$S3_BUCKET_NAME/practice-deploy.zip

    # CodeDeploy에게 배포 명령을 내립니다.
    - name: Code Deploy
      run: >
        aws deploy create-deployment --application-name toy-application
        --deployment-config-name CodeDeployDefault.AllAtOnce
        --deployment-group-name toy-deploy
        --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=practice-deploy.zip
